.App {
	display: grid;
	grid: 90vh 10vh / 1fr;
	overflow: hidden;
}

.main {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-gap: 10px;
}

.menu {
	display: grid;
	overflow: scroll;
	grid-template-rows: 20% 80%;
}
.menu.no-choices {
	grid-template-rows: 0 100%;
}

.coin-grid {
	display: grid;
 	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.coin-list {
	overflow: scroll;
}

.coin-list ul li {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.coin-list ul li span {
	padding-left: 1em;
}

.chosen-coin-list {
	display: grid;
	grid-template-rows: 5px 1fr;
	overflow: hidden;
}

.chosen-coin-list ul {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 10px 5px;
	overflow: scroll;
}

.chosen-coin-list ul li {
	cursor: pointer;
}

// Footer
footer {
	z-index: 1;
}

.page-footer .footer-copyright {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.page-footer a {
	display: flex;
	align-items: center;
}

.page-footer img {
	margin-right: 1em;
}
